body, ul {
	margin: 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.wrapper {
	background-color: #ddd;
}
/*********************************************
	MENU
*/
.menu {
	/* Position */
	position: fixed;
	top: 0;
	left: 0;
	/* Size */
	width: 100%;
	height: 45px;
	/* Colors */
	background-color: #3D7BA8;
	border-top: 1px solid #66AFE3;
	border-bottom: 1px solid #1F4A69;
}
.menuContent {
	/* Position */
	position: relative;
	/* Size */
	width: 75%;
	height: 25px;
	/* Margins Paddins */
	margin: 0 auto;
	padding: 10px 0;
}
.menuContent ul li {
	display: inline-block;
}
/*********************************************
	CONTENT
*/
.content {
	margin: 46px 0 0 0;
}
.photos {
	background-color: #888;
}
/*********************************************
	FOOTER
*/