/* --------------------------------
Site:       Site name
CSS author: Your name here
Updated:    Date
Updated by: Your name here
-------------------------------- */

/* ----------------------------
simple reset
---------------------------- */
* {
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
html, body, ul, ol, li, form, fieldset, legend
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
li { list-style: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td
{
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

input, textarea, select
{
    font-size: 110%;
    line-height: 1.1;
}

abbr, acronym
{
    border-bottom: .1em dotted;
    cursor: help;
}

body
{
    color: #000;
    /*background-image: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);*/
    background-image: radial-gradient(#ddd, #666);*/
    /*background-image: radial-gradient(ellipse farthest-corner at 470px 47px , #fff 20%, #eee 60%);*/
    font: 90%/1.3 "DejaVu Sans", "URW Gothic L", "Helvetica Neue", Helvetica, Arial, "Microsoft Sans Serif", sans-serif;
    margin-top: 40px;
}
html,
body {
    width: 100%;
    height: 100%;
}
.container
{
    padding: 10px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    /*background-image: linear-gradient(#eee, #888);*/
    background-image: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #444;
    box-shadow: 0 -3px 15px 0px #000;
}
.header h1 {
    font-size: 1.4em;
    margin: 0;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    text-shadow: 1px 1px #333;
}
.nav, 
.content,
.extras {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0.5em;
}

.nav
{
    margin-bottom: 1em;
}
.nav ul li {
    display: inline-block;
}

.content
{
    margin: 1em 0;
}

.extras
{
}

.feature-image
{
    display: none;
}
/**********************************************
    Width mínimo 768px
*/
@media (min-width: 768px) {
body {
    margin-top: 0;
}
.header {
    position: static;
    border-bottom: none;
    box-shadow: none;
    background: transparent;
}
.header h1 {
    margin: 1em 0;
    text-align: left;
    font-size: 2em;
    text-shadow: none;
}
.nav {
    width: 20%;
    margin: 1em 0;
}
.contentBox {
    width: 78%;
    margin-left: 2%;
}
.fleft {
    float: left ;
}
.content {
    margin-bottom: 0;
}
.nav ul li {
    display: block;
}
.feature-image
{
    float: right;
    display: inline-block;
    margin-left: 15px;
}

}
/**********************************************

*/
@media (min-width: 992px) {
body {
    background: #444;
}
.content {
    float: left;
    width: 67%;
    margin-right: 2.56%;
}
.extras {
    float: left;
    width: 30%;
    margin-top: 1em;
}

}